form{
    color:white; 
    background-color:brown;
    display:block;
    height:250px;
}

h2{
   text-align:center;
   color:blue;
   }

.f {
  position: fixed;
  left: 0;
  bottom: 0;
    width: 100%;}
