.leftpane {
    width: 30%;
    height: 100%;
    float: left;
    background-color: brown;
   color :white;
    border-collapse: collapse;
}

.middlepane { 

    width: 40%;
    height: 100%;
    float: left;
    background-color: white;
   color: brown;
    border-collapse: collapse;
}

.rightpane {
  width: 30%;
  height: 100%;
  position: relative;
  color:white;
  float: right;
  background-color: brown;
  border-collapse: collapse;
}
@media screen and (max-width: 400px) {
  .leftpane,.rightpane,.middlepane{
    width: 100%;
  }
}
 .f{
  position: fixed;
  left: 0;
  bottom: 0;
    width: 100%;}
