form{
   float: right;
  
  width: 60%;
   background-color:brown;
 display:block; 
height:430px;
color:white;
}

section{
  float: left;
 background-color:white;
color:brown;
  width: 40%; 
display:block;
height:430px;

 
}
.not{
   background-color:white;
    color:brown;
   font-family:Arial;}
   
   
.f {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


 
